
rules_version = '2';

// Craft rules based on your app's needs
// For more information on configuring security rules, visit https://firebase.google.com/docs/firestore/security/get-started
service cloud.firestore {
  match /databases/{database}/documents {
    // Make sure the electionRooms collection can be read by anyone, but only created/updated/deleted by admins.
    match /electionRooms/{roomId} {
      allow read: if true;
      allow write: if request.auth != null;
      
      // Allow voters to be created by anyone, but not read/updated/deleted
      match /voters/{voterId} {
        allow create: if true;
        allow read, update, delete: if false; // Protect voter privacy
      }
      
      // Allow votes to be created by anyone, but not read/updated/deleted
      match /votes/{voteId} {
         allow create: if true;
         allow read, update, delete: if false; // Protect vote privacy
      }
    }
  }
}
